<link rel="stylesheet" href="match.component.scss">

<div class="windowTitle">
  <img src="assets/logo.png">
  <div *ngIf="match != null && useWeCount">
    <div *ngFor="let summoner of summoners">
      <summoner [id]="summoner?.id"
                [champion]="summoner?.champion"
                [spell1]="summoner?.spell1"
                [spell2]="summoner?.spell2">
      </summoner>
    </div>
  </div>
  <div class='startWindow' *ngIf="!useWeCount">
    <h2>{{loading ? 'Collecting match data!' : 'Activate WeCount?'}}</h2>
    <div id="ad-div">
      <p>AD SPACE 400x300</p>
    </div>
    <div class="loadingScreen" *ngIf="loading">
      <img  src="assets/loading.gif">
    </div>
    <div *ngIf="!loading" class='button-holder'>
      <button (click)="runWeCount(true)">Yes</button>
      <button (click)="runWeCount(false)">No</button>
    </div>
  </div>
</div>
