<div class="summoner-container">

  <champion [id] = "champion.id"
            [name] = "champion.name"
            [image] = "champion.image">
  </champion>

  <spell [id] = "spell1.id"
         [name] = "spell1.name"
         [image] = "spell1.image"
         [cooldown] = "spell1.cooldown"
         [summonerId]= "id">
  </spell>

  <spell [id] = "spell2.id"
         [name] = "spell2.name"
         [image] = "spell2.image"
         [cooldown] = "spell2.cooldown"
         [summonerId]= "id">
  </spell>

</div>
